.header {
    background-color: black;
    color: white;
    height: 50px;
    font-size: 36px;
    text-align: center;
    font-family: sans-serif;
}

#forecast {
    display: none;
}

#currentWeatherSection{
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    letter-spacing: 2px;
}

#cityNameAndDate {
    font-size: 20px;
    font-weight: bold;
}

.forecast-cards {
    padding: 10px;
    background-color: black;
    color: whitesmoke;
}

#recentSearches li {
    padding: 0;
}
#recentSearches li button {
    width: 100%;
}