.header {
    background-color: #3b4f82;
    color: white;
    height: 50px;
    font-size: 36px;
    text-align: center;
    font-family: sans-serif;
}

#uvIndexValue {
    font-weight: bold;
    width: min-content;
    padding: 4px;
    border-radius: 5px;
}

#forecast {
    display: none;
}

#currentWeatherSection{
    background-color: lightsteelblue;
    color: black;
    padding: 15px;
    letter-spacing: 2px;
    border-radius: 10px 40px 40px 10px;
}

#cityNameAndDate {
    font-size: 20px;
    font-weight: bold;
}

.forecast-cards {
    letter-spacing: 0.5px;
    padding: 10px;
    background-color: lightsteelblue;
    color: black;
    border-radius: 10px 40px 40px 10px;
}

#recentSearches li {
    padding: 0;
}
#recentSearches li button {
    width: 100%;
}